<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/base :: layout(~{::title}, ~{}, ~{::body/content()})}">
<head>
	<meta charset="UTF-8">
	<title>商品編集ページ</title>
</head>
<body>
	<h1>商品編集ページ</h1>
	<form th:action="@{/item/henshu/{id}(id=${id})}" th:object="${itemForm}" method="post">
		<div>
			<label>商品名</label>
		</div>
		<div>
			<input type="text" th:field="*{name}" placeholder="商品名を記入してください">
		</div>
		<div>
			<label>価格</label>
		</div>
		<div>
			<input type="text" th:field="*{price}" placeholder="価格を記入してください">
		</div>
		<div>
			<label>カテゴリ</label>
		</div>
		<div>
			<select th:field="*{categoryId}">
				<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			</select>
		</div>
		<div>
			<input type="submit" name="send" value="登録">
		</div>
		<div>
			<a href="/item">戻る</a>
		</div>
	</form>
</body>
</html>