<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>商品一覧表示</title>
<link rel="stylesheet" href="/css/item/index.css">
</head>
<body>
	<h1>商品一覧表示ページ</h1>
	<table class="tbl">
		<thead>
			<tr>
				<th>id</th>
				<th>商品名</th>
				<th>価格</th>
				<th>在庫数</th>
				<th>カテゴリ</th>
				<th class="tbl-stock"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${items}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.stock}"></td>
				<td th:text="${item.category.name}"></td>
				<td>
					<form th:action="@{/item/stock/{id}(id=${item.id})}" method="post">
						<input class="tbl-form" type="number" name="stock">
						<input class="tbl-stock-btn" type="submit" name="in" value="入荷">
						<input class="tbl-stock-btn" type="submit" name="out" value="出荷">
					</form>
				</td>
				<td>
					<form th:action="@{/item/henshu/{id}(id=${item.id})}" method="get">
						<input class="tbl-btn" type="submit" value="編集">
					</form>
				</td>
				<td>
					<form th:action="@{/item/sakujo/{id}(id=${item.id})}" method="post">
						<input class="tbl-btn" type="submit" value="削除">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>