<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(title, link, contents)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">共通部分</title>
<link rel="stylesheet" href="/css/default.css">
<link th:replace="${link}">
</head>
<body>
	<header th:replace="~{layout/header :: header}"></header>
	<div class="main">
		<div id="side-menu" th:replace="~{layout/sideMenu :: side-menu}">></div>
		<div class="contents" th:insert="${contents}">></div>
	</div>
</body>
</html>